@import "../libs/bourbon/bourbon"

/* Fonts */
$ultralight: 'helveticaneuecyrultralight'
$thin: 'helveticaneuecyrthin'
$light: 'helveticaneuecyrlight'
$roman: 'helveticaneuecyrroman'
$medium: 'helveticaneuecyrmedium'
$bold: 'helveticaneuecyrbold'
$heavy: 'helveticaneuecyrheavy'
$black: 'helveticaneuecyrblack'


$ultralight_italic: 'helveticaneuecyrultraLtIt'
$light_italic: 'helveticaneuecyrlight_italic'
$thin_italic: 'helveticaneuecyrthin_italic'
$roman_italic: 'helveticaneuecyritalic'
$medium_italic: 'helveticaneuecyrmedium_italic'
$heavy_italic: 'helveticaneuecyrheavy_italic'
$bold_italic: 'helveticaneuecyrbold_italic'
$black_italic: 'helveticaneuecyrblack_italic'

$basefontsize: 15px
$defaultlineheight: 16px

/* /Fonts */

/* Colors */
$clear: #fff
$base: #444
$normal: #999
$alert: #d40808
$default: #fafafa
$green: #36c558
$yellow: #ffe371
$dark: #272626
$background: #eef0f2

/* project color */
$link: #0089cf
$form-elem: #0089cf
$background-el: #f5f5f5
$project-default: #0089cf
$project-default-dark: #0060a3
$inverse: #f09235
$inverse-menu: #ffb56c
$info: #eeeeee
$active: #0089cf
$borderhead: #eef2f5
$border: #d1dce2
$dayoff: #ffe8e8

$kodeks-default: #2164b0
$cntd-default: #ff7200

/* animation */
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1)
